@import "tailwindcss";

@theme {
  --font-sans: var(--font-overpass), sans-serif;
}

body {
  background: #000;
}
html {
  scroll-behavior: smooth;
}

a {
  @apply underline;
}

@keyframes moveTrain {
  0% {
    transform: translateX(200%);
  }
  90%,
  100% {
    transform: translateX(-200%);
  }
}

.train {
  animation: moveTrain 4s linear infinite;
}
